.large {
    font-size: 35px;
    color: #060606;
    margin-bottom: 0px;
    margin-top: 15px;
    font-weight: 200;
}
div.pageinfo p {
    color: #a5a5a5;
}
.small {
    font-size: 13px !important;
    font-weight: 200;
    color: #a5a5a5;
}
.pageinfo {
    text-shadow: 0px 1px 0px rgba(211, 211, 211, 0.97);
}
.link  {
    color: #2965be;
}
.lpv-item {
    border: 1px solid #ff4c4c;
    border-top-color: #ff4c4c;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #ff4c4c;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #ff4c4c;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #ff4c4c;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    margin-bottom: 5px;
    background: #fff;
    box-shadow: 1px 1px 3px #ff4c4c;
    position: relative;
    transition: box-shadow 0.5s ease;
}
/*a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}*/
.lpv-item {
    border: 1px solid #eee;
    margin-bottom: 5px;
    background: #fff;
    box-shadow: 1px 1px 3px #eee;
    position: relative;
    transition: box-shadow 0.5s ease;
}
.lpv-item .lpv-item-info--note .lpv-item-info--note--list {
    padding: 10px 10px 0;
    font-size: 16px;
}
.lpv-item .lpv-item-info {
    flex: 1 0 auto;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 4px 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    position: relative;
    padding: 15px 10px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.wrapper {
    text-align: left;
    margin: 0 auto;
    width: 876px;
    font-size: 14px;
}
.rel {
    position: relative;
}
.clr:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
ul.tabs2 {
    font-size: 14px;
    line-height: 18px;
    position: relative;
    z-index: 2;
}
.fleft {
    float: left;
}
ul.tabs2 .tab.selected {
    background: #fff;
    margin-top: -1px;
    position: relative;
    top: 1px;
    border-color: #E1E1E1;
    background-color: #fff;
    padding-bottom: 12px;
}
ul.tabs2 .tab {
    padding: 7px 17px 11px;
    border: 1px solid transparent;
    border-bottom: none;
}
ul.tabs2 li:first-child .tab.selected:before {
    width: 10px;
    height: 10px;
    left: -1px;
    bottom: -10px;
    position: absolute;
    content: ' ';
    background: #fff;
    border-left: 1px solid #d3d3d3;
}

.fbold {
    font-weight: bold;
}
#body-container div.content {
    min-height: 380px;
    padding-bottom: 10px;
}
.pding0 {
    padding: 0px !important;
}
#body-container div.content {
    min-height: 380px;
    padding-bottom: 10px;
}
.fbold {
    font-weight: bold;
}
.c2b {
    color: #2b2b2b;
}
.pding30_0 {
    padding: 30px 0 !important;
}
.fbold {
    font-weight: bold;
}
.favemptybox {
    margin: 0 85px;
}
.brtope5 {
    border-top: 1px solid #e5e5e5;
}
.pdingtop30 {
    padding-top: 30px;
}
.c27 {
    color: #272727;
}
ul.tabs2 .tab.selected {
    /* background: #fff; */
    margin-top: -1px;
    position: relative;
    top: 1px;
    border-color: #E1E1E1;
    background-color: #fff;
    padding-bottom: 12px;
}
ul.tabs2 .tab {
    padding: 7px 17px 11px;
    border: 1px solid transparent;
    border-bottom: none;
}
 img, fieldset {
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.content {
    position: relative;
    background: #ffffff;
}
ul, menu, dir {
    display: block;
    list-style-type: none;
   /* -webkit-margin-before: 1em;*/
    /*-webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
    /*-webkit-padding-start: 40px;*/
}
#tabs-container.observed {
    margin-top: -37px;
}
#tabs-container .wrapper {
    min-height: 37px;
}
.wrapper {
    text-align: left;
    margin: 0 auto;
    width: 876px;
    font-size: 14px;
}